<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" class="ios" tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/save-platenumber" class="ios" tab="save-platenumber">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Save Plate Number</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/list-platenumber" class="ios" tab="list-platenumber">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Plate Number</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>